.post {
    width: 385px;
    margin: 0px 25px 60px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 6px rgb(202, 202, 202);
    border-radius: 10px;
  }

  .postImg {
    width: 385px;
    height: 280px;
    object-fit: cover;
    border-radius: 7px;
  }

  .postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postCats{
    margin-top: 10px;
  }

  .postCat {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #434344;
    line-height: 19px;
    margin-right: 10px;
    cursor: pointer;
    background: rgb(184, 182, 182);
    border-radius: 2px;
    padding: 1px 5px;
  }

  .postTitle {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-top: 15px;
    cursor: pointer;
  }

  .postDate {
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 400;
    color: #999999;
    margin-top: 10px;
  }

  .postDesc {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin: 15px 2px 5px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }